{% extends "base.html" %}
{% load static %}

{% block base_head%} <!-- To only include in specific page-->
<link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
{% endblock%}

{% block content%}
<div class="text-center">
		<h1>{{title}}</h1>
	</div>
		<div class='row'>
			<div class='col'>
				<img src='{% static "/img/shop.jpg" %}' class='img-fluid'>
				<p>{{ content }} {{username}}</p>
			</div>
		</div>
		{% if premium_content %}
		<div class='row'>
			<div class='col'>
				<h1>Premium : </h1>
				<h1>{{ premium_content }}</h1>
			</div>
		</div>	
		{% endif %}
		{% endblock %}

{% load static %}