body{

	padding-top: 70px;
}


.productDesc{
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-line-clamp:5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rm-p{

	padding-right : 0px;
	padding-left : 0px;
}